/* =============================== GOOGLE FONTS ================================ */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* =============================== VARIABLE ============================== */
:root {
  /* =============================== COLORS ================================ */
  --color1: #5d18f2;
  --color2: #7236f3;
  --color3: #8e62ee;
  --title-color: #210956;
  --subtitle-color: #7d6ba2;
  --text-color: #4c3e6c;
  --body-color: #fff;

  /* ======================= FONTS AND TYPOGRAPHY ===================== */
  --font-body: 'Rubik', sans-serif;

  --big-font-size: 2.3rem;
  --h1-font-size: 1.6rem;
  --h2-font-size: 1.35rem;
  --h3-font-size: 1.175rem;
  --normal-font-size: 0.968rem;
  --small-font-size: 0.833rem;
  --smaller-font-size: 0.95rem;

  /*======================== Margenes Bottom ======================= */
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* ===================== FONT WEIGHT ======================= */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* ===================== Z-INDEX ===================== */
  --z-index-one: 10;
  --z-index-two: 100;
  --z-index-three: 1000;
}

/* ======================= BASE ===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  overflow-x: hidden;
  max-width: 100%;
  font-family: var(--font-body);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  scroll-behavior: smooth;
}
h1, h2, h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--title-color);
}
textarea, input {
  font-family: var(--font-body);
}
section {
  min-height: 600px;
}
.grid {
  display: grid;
  place-items: center;
}
.padding__sisi {
  padding: 0px 150px;
}

/* ========================== loader ========================== */
#loader {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 5px solid #ccc;
  border-top-color: var(--title-color);

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  animation: loader 1s linear infinite;
}

@keyframes loader {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* ========================== Header ========================== */
header {
  width: 100%;
  height: 100px;
  transition: .4s;
  position: fixed;
  z-index: var(--z-index-one);
}
header.sticky {
  background-color: #fff;
  height: 80px;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, .1);
  position: fixed;
}
header#header .navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header#header .navbar .brand {
  color: var(--title-color);
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  letter-spacing: 1px;
}
header#header .navbar .toggle {
  display: none;
}
header#header .navbar .nav-menu {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header#header .navbar .nav-menu .lists {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header#header .navbar .lists .lists__items {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header#header .navbar .lists .lists__items i {
  display: none;
}
header#header .navbar .lists .lists__items .list__items {
  font-size: 14px;
  color: var(--text-color);
  font-weight: 600;
  letter-spacing: 1px;
}

header#header .navbar .lists .lists__items .list__items:hover {
  color: var(--color1);
}
header#header .navbar .lists .lists__items .list__items.active {
  color: var(--color1);
}

/* ========================= Hero Content ========================== */
.btnme-lg {
  padding: 15px 65px;
  border: 2px solid transparent;
  border-radius: .4rem;
  background-color: #7133f6;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btnme-lg:hover {
  background-color: var(--color1);
  color: #fff;
}
.btnme-small {
  padding: 10px 50px;
  border: 2px solid transparent;
  border-radius: .4rem;
  background-color: #7133f6;
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btnme-small:hover {
  background-color: var(--color1);
  color: #fff;
}
.btnme-outline-lg {
  padding: 10px 65px;
  border: 2px solid var(--color1);
  border-radius: .4rem;
  background-color: #fff;
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  color: var(--title-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnme-outline-lg:hover {
  color: var(--title-color);
}
.icon {
  font-size: var(--h3-font-size);
}
.icon-file-download {
  margin-left: var(--mb-5);
}
.icon-sosmed {
  font-size: 1.8rem;
  color: var(--first-color);
}

.hero__content {
  width: 100%;
  height: 600px;
  padding-top: 50px;
}
.hero__content .container__hero-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__content .container__hero-content .about__content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__content .container__hero-content .about__content .welcome {
  color: var(--subtitle-color);
  margin-bottom: var(--mb-2-5);
}
.hero__content .container__hero-content .about__content .name {
  color: var(--title-color);
  letter-spacing: 1px;
  font-size: var(--big-font-size);
  font-weight: var(--font-semi-bold);
}
.hero__content .container__hero-content .about__content .introduce {
  color: var(--title-color);
  font-size: 2.8rem;
  letter-spacing: 1px;
  font-weight: var(--font-semi-bold);
  margin-bottom: var(--mb-1);
}
.hero__content .container__hero-content .about__content .introduce span {
  font-weight: var(--font-bold);
  color: var(--color1);
}
.hero__content .container__hero-content .about__content .deskripsi {
  color: var(--text-color);
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2-5);
}
.hero__content .container__hero-content .about__content .button {
  width: 73%;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-3);
}
.hero__content .container__hero-content .img__hero-content {
  width: 30%;
  height: 100%;
  overflow: hidden;
}
.hero__content .container__hero-content .img__hero-content svg {
  width: 100%;
  margin-top: -20px;
}
.hero__content .container__hero-content .sosmed {
  height: 150px;
  margin-top: -20px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.hero__content .container__hero-content .sosmed .icon-sosmed {
  color: var(--color1);
}


/* ==================================== about ========================== */
section#about {
  width: 100%;
  height: 1000px;
}
section#about .container__about {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#about .container__about .title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}
section#about .container__about .subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-2);
}
section#about .container__about img {
  width: 300px;
  border-radius: .3rem;
  margin-bottom: var(--mb-2);
}
section#about .container__about .container__about-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section#about .container__about .container__about-content .deskripsi {
  color: var(--text-color);
  margin-bottom: var(--mb-1-5);
}
section#about .container__about .container__about-content .experience {
  width: 80%;
  display: flex;
  justify-content: center;
}
section#about .container__about .container__about-content .experience div {
  width: 30%;
  margin-bottom: var(--mb-2);
}
section#about .container__about .container__about-content .experience .title__experience {
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  margin-bottom: var(--mb-0-25);
}
section#about .container__about .container__about-content .experience .subtitle__experience {
  color: var(--text-color);
}


/* =============================== skills ==================================== */
section#skill {
  width: 100%;
  height: 1000px;
}
section#skill .container__skill {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section#skill .container__skill .title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}
section#skill .container__skill .subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-2);
}
section#skill .container__skill .container__skill-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#skill .container__skill .container__skill-content .nav.nav-pills {
  width: 100%;
  display: flex;
  flex-direction: column;
}
section#skill .container__skill .container__skill-content .nav.nav-pills li {
  margin-bottom: var(--mb-1);
}
section#skill .container__skill .container__skill-content .nav.nav-pills li a {
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--color1);
  color: #fff;
  border-radius: .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-bottom: var(--mb-0-5);
}
section#skill .container__skill .container__skill-content .nav.nav-pills li a .icon {
  transition: .3s;
}
section#skill .container__skill .container__skill-content .nav.nav-pills li a.active .icon {
  transform: rotate(180deg);
}
section#skill .container__skill .container__skill-content .nav.nav-pills li .tab-pane {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-radius: .2rem;
  padding: 10px;
  transition: 1s;
}
section#skill .container__skill .container__skill-content .nav.nav-pills li .tab-pane.active {
  display: flex;
}
section#skill .container__skill .container__skill-content .nav.nav-pills li .tab-pane .content__skill {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
section#skill .container__skill .container__skill-content .nav.nav-pills li .tab-pane .content__skill .about__content-skill {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}
section#skill .container__skill .container__skill-content .nav.nav-pills li .tab-pane .content__skill .about__content-skill .name__skill {
  color: var(--title-color);
}
section#skill .container__skill .container__skill-content .nav.nav-pills li .tab-pane .content__skill .about__content-skill .presentasi {
  color: var(--title-color);
}
section#skill .container__skill .container__skill-content .nav.nav-pills li .tab-pane .content__skill .pipe__skills {
  width: 100%;
  height: 7px;
  background-color: #ddd;
  border-radius: .2rem;
  overflow: hidden;
}
section#skill .container__skill .container__skill-content .nav.nav-pills li .tab-pane .content__skill .pipe__skills .water__skill {
  height: 100%;
  background-color: var(--color1);
}
.html {
  width: 80%;
}
.css {
  width: 70%;
}
.js {
  width: 60%;
}
.react {
  width: 50%;
}
.php {
  width: 70%;
}
.node {
  width: 50%;
}
.mysql {
  width: 80%;
}
.webapi {
  width: 60%;
}
.figma {
  width: 80%;
}
.adobexd {
  width: 70%;
}
.sketch {
  width: 60%;
}
.photoshop {
  width: 50%;
}

/*==================== QUALIFICATION ====================*/
.qualification__tabs {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--mb-2);
}
.qualification__button {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  cursor: pointer;
  color: var(--text-color);
}
.qualification__button:hover {
  color: var(--color1);
}
.qualification__icon {
  font-size: 1.8rem;
  margin-right: var(--mb-0-25);
  color: var(--color1);
}
.qualification__data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}




.qualification {
  width: 100%;
}
.container__qualification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb-0-25);
}
.section__subtitle {
  font-size: var(--small-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-2);
}
.qualification__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.qualification__container .qualification__tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.qualification__container .qualification__sections {
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.qualification__container .qualification__sections .qualification__content {
  display: flex;
  flex-direction: column;
  margin-right: var(--mb-1);
}
.qualification__container .qualification__sections .qualification__content .qualification__data .qualification__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
}
.qualification__container .qualification__sections .qualification__content .qualification__data .qualification__subtitle {
  font-size: var(--normal-font-size);
  color: var(--text-color);
}
.qualification__calendar {
  font-size: var(--smaller-font-size);
  color: var(--color3);
  margin-top: var(--mb-0-25);
}
.qualification__rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--color1);
  border-radius: 50%;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--color1);
  transform: translate(6px, -7px);
}

.qualification [data-content] {
  display: none;
}

.qualification__active[data-content] {
  display: block;
}


/*==================== SERVICES ====================*/
.services {
  width: 100%;
  height: 700px;
}
.services .container__service {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .container__service .services__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.services .container__service .services__container .services__content {
  width: 30%;
}
.services .container__service .services__container .services__content .services__button:hover {
  color: var(--color1);
}
.services .container__service .services__container .services__content .services__button:hover .button__ico {
  transform: translate(0.25rem) !important;
}
.services__container {
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}
.services__content {
  position: relative;
  background-color: var(--container-color);
  padding: 3.5rem 0.5rem 1.25rem 1.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}
.services__content:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
.services__icon {
  display: block;
  font-size: 1.5rem;
  color: var(--color1);
  margin-bottom: var(--mb-1);
}
.services__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  font-weight: var(--font-medium);
}
.services__button {
  cursor: pointer;
  display: inline-block;
  font-size: var(--small-font-size);
  color: var(--text-color);
}
.services__button:hover .button__icon {
  transform: translate(0.25rem);
}
.services__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: var(--z-index-three);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.services__modal-content {
  position: relative;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
}
.services__modal-services {
  row-gap: 1rem;
}
.services__modal-service {
  display: flex;
  text-align: left;
  margin-bottom: var(--mb-1);
}
.services__modal-service p {
  color: var(--text-color);
}
.services__modal-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1-5);
  color: var(--color1);
}
.services__modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--color1);
  cursor: pointer;
}
.services__modal-icon {
  color: var(--color1);
  margin-right: var(--mb-0-25);
}
/* Active Modal */
.active-modal {
  opacity: 1;
  visibility: visible;
}


/* ============================ portfolio =============================== */
.portfolio {
  height: 600px;
}
.portfolio .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: white;
  border-radius: 50px;
  padding: 2px 15px;
}
.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 20px 10px 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1;
  color: #444444;
  margin: 0 4px 8px 4px;
  transition: 0.3s;
  border-radius: 50px;
  border: 1px solid #fff;
}
.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: var(--color1);
  border-color: var(--color1);
}
.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}
.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(255, 255, 255, 0.75);
}
.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.portfolio .portfolio-wrap img {
  transition: 1s;
}
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid rgba(1, 41, 112, 0.2);
  border-left: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid rgba(1, 41, 112, 0.2);
  border-right: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: var(--color1);
  font-weight: 700;
}
.portfolio .portfolio-wrap .portfolio-info p {
  color: var(--color1);
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}
.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  background: var(--color3);
  margin: 10px 2px;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-links a i {
  font-size: 24px;
  line-height: 0;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
  background: var(--color2);
}
.portfolio .portfolio-wrap:hover img {
  transform: scale(1.1);
}
.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}
.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}
.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--color1);
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color1);
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 0;
}


/* ================================ contact =================================== */
section#contact {
  width: 100%;
  height: 800px;
}
section#contact .container__contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#contact .container__contact .container__contact-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section#contact .container__contact .container__contact-content .col-information {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#contact .container__contact .container__contact-content .col-information div {
  display: flex;
  height: 50px;
  margin-bottom: var(--mb-2);
}
section#contact .container__contact .container__contact-content .col-information div .contact__icon {
  font-size: 2rem;
  color: var(--color1);
  margin-right: var(--mb-0-25);
}
section#contact .container__contact .container__contact-content .col-information div .about__col-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#contact .container__contact .container__contact-content .col-information div .about__col-information .title {
  font-size: var(--h3-font-size);
  color: var(--color1);
  font-weight: var(--font-semi-bold);
}
section#contact .container__contact .container__contact-content .col-information div .about__col-information .subtitle {
  color: var(--text-color);
}
section#contact .container__contact .container__contact-content .col-form-message {
  width: 45%;
  display: flex;
  flex-direction: column;
}
section#contact .container__contact .container__contact-content .col-form-message h1 {
  font-size: var(--h3-font-size);
  color: var(--color1);
  margin-bottom: var(--mb-0-5);
}
section#contact .container__contact .container__contact-content .col-form-message form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
section#contact .container__contact .container__contact-content .col-form-message form div:nth-child(1) {
  width: 100%;
  height: 60px;
  background-color: #eee;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: var(--mb-1);
}
section#contact .container__contact .container__contact-content .col-form-message form div:nth-child(1) label {
  color: var(--text-color);
  margin-bottom: var(--mb-0-25);
}
section#contact .container__contact .container__contact-content .col-form-message form div:nth-child(1) input {
  border: 2px solid transparent;
  background-color: #eee;
  font-family: var(--font-body);
  color: var(--text-color);
}
section#contact .container__contact .container__contact-content .col-form-message form div:nth-child(1) input:focus {
  outline: none;
}
section#contact .container__contact .container__contact-content .col-form-message form div:nth-child(2) {
  width: 100%;
  height: 150px;
  background-color: #eee;
  border-radius: .3rem;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-bottom: var(--mb-1);
}
section#contact .container__contact .container__contact-content .col-form-message form div:nth-child(2) label {
  color: var(--text-color);
  margin-bottom: var(--mb-0-25);
}
section#contact .container__contact .container__contact-content .col-form-message form div:nth-child(2) textarea {
  border: 2px solid transparent;
  background-color: #eee;
  font-family: var(--font-body);
  color: var(--text-color);
}
section#contact .container__contact .container__contact-content .col-form-message form div:nth-child(2) textarea:focus {
  outline: none;
}


/* ================================== footer ==================================== */
footer#footer {
  width: 100%;
  height: 80px;
  background-color: var(--color1);
}
footer#footer .container__footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer#footer .container__footer p {
  color: #fff;
  padding-top: 20px;
}


@media (max-width: 678px) {
  .padding__sisi {
    padding: 0px 15px;
  }

  /* ========================== Header ========================== */
  header {
    width: 100%;
    height: 80px;
    transition: .4s;
    position: fixed;
    z-index: var(--z-index-one);
    background-color: #fff;
    height: 80px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .1);
    position: fixed;
    bottom: 0;
    border-radius: .8rem .8rem 0 0;
  }
  header#header .navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header#header .navbar .brand {
    display: none;
  }
  header#header .navbar .toggle {
    display: none;
  }
  header#header .navbar .nav-menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header#header .navbar .nav-menu .lists {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin-left: -30px;
  }
  header#header .navbar .lists .lists__items {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header#header .navbar .lists .lists__items i {
    display: block;
  }
  header#header .navbar .lists .lists__items .list__items {
    font-size: 9px;
    color: var(--text-color);
    font-weight: 600;
    letter-spacing: 1px;
  }
  header#header .navbar .lists .lists__items .list__items i {
    display: none;
  }
  header#header .navbar .lists .lists__items .list__items:hover {
    color: var(--color1);
  }
  header#header .navbar .lists .lists__items .list__items.active {
    color: var(--color1);
  }

  /* ========================= btn ========================== */
  .btnme-lg {
    padding: 10px 50px;
    font-size: var(--normal-font-size);
  }
  .btnme-small {
    font-size: var(--normal-font-size);
  }
  .btnme-outline-lg {
    font-size: var(--normal-font-size);
  }
  .btnme-outline-lg:hover {
    color: var(--title-color);
  }
  .icon {
    font-size: var(--h3-font-size);
  }
  .icon-file-download {
    margin-left: var(--mb-5);
  }
  .icon-sosmed {
    font-size: 1.8rem;
    color: var(--first-color);
  }

  /* ========================= hero content ============================ */
  .hero__content {
    height: 1000px;
  }
  .hero__content .container__hero-content {
    flex-direction: column;
    position: relative;
  }
  .hero__content .container__hero-content .about__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    margin-top: -240px !important;
  }
  .hero__content .container__hero-content .about__content .welcome {
    color: var(--subtitle-color);
    margin-bottom: var(--mb-2-5);
    position: absolute;
    top: 0;
  }
  .hero__content .container__hero-content .about__content .button {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: var(--mb-3);
  }
  .hero__content .container__hero-content .img__hero-content {
    width: 60%;
    height: 80%;
    overflow: hidden;
    order: 1;
    margin-top: -100px;
  }
  .hero__content .container__hero-content .sosmed {
    height: 150px;
    margin-top: -20px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    left: 15px;
    top: 100px;
  }
  .hero__content .container__hero-content .sosmed .icon-sosmed {
    color: var(--color1);
  }

  /* ==================================== about ========================== */
  section#about .container__about .container__about-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  /* =============================== skills ==================================== */
  section#skill .container__skill .container__skill-content .nav.nav-pills li .tab-pane .content__skill .pipe__skills {
    height: 6px;
  }

  /*==================== QUALIFICATION ====================*/
  .qualification__container .qualification__tabs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .qualification__container .qualification__sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
  .qualification__container .qualification__sections .qualification__content {
    display: flex;
    flex-direction: column;
    margin-right: var(--mb-1);
    margin-bottom: var(--mb-2);
  }

  /*==================== SERVICES ====================*/
  .services {
    height: 1000px;
  }
  .services .container__service .services__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .services .container__service .services__container .services__content {
    width: 100%;
  }

  /* ================================ contact =================================== */
  section#contact {
    width: 100%;
    height: 900px;
  }
  section#contact .container__contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section#contact .container__contact .container__contact-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  section#contact .container__contact .container__contact-content .col-information {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: var(--mb-2);
  }
  section#contact .container__contact .container__contact-content .col-information div {
    display: flex;
    height: 50px;
    margin-bottom: var(--mb-2);
  }
  section#contact .container__contact .container__contact-content .col-information div .contact__icon {
    font-size: 2rem;
    color: var(--color1);
    margin-right: var(--mb-0-25);
  }
  section#contact .container__contact .container__contact-content .col-information div .about__col-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section#contact .container__contact .container__contact-content .col-information div .about__col-information .title {
    font-size: var(--h3-font-size);
    color: var(--color1);
    font-weight: var(--font-semi-bold);
  }
  section#contact .container__contact .container__contact-content .col-information div .about__col-information .subtitle {
    color: var(--text-color);
  }
  section#contact .container__contact .container__contact-content .col-form-message {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  section#contact .container__contact .container__contact-content .col-form-message h1 {
    font-size: var(--h3-font-size);
    color: var(--color1);
    margin-bottom: var(--mb-0-5);
  }
  section#contact .container__contact .container__contact-content .col-form-message form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  section#contact .container__contact .container__contact-content .col-form-message form div:nth-child(1) {
    width: 100%;
    height: 60px;
    background-color: #eee;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: var(--mb-1);
  }
  section#contact .container__contact .container__contact-content .col-form-message form div:nth-child(1) label {
    color: var(--text-color);
    margin-bottom: var(--mb-0-25);
  }
  section#contact .container__contact .container__contact-content .col-form-message form div:nth-child(1) input {
    border: 2px solid transparent;
    background-color: #eee;
    font-family: var(--font-body);
    color: var(--text-color);
  }
  section#contact .container__contact .container__contact-content .col-form-message form div:nth-child(1) input:focus {
    outline: none;
  }
  section#contact .container__contact .container__contact-content .col-form-message form div:nth-child(2) {
    width: 100%;
    height: 150px;
    background-color: #eee;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: var(--mb-1);
  }
  section#contact .container__contact .container__contact-content .col-form-message form div:nth-child(2) label {
    color: var(--text-color);
    margin-bottom: var(--mb-0-25);
  }
  section#contact .container__contact .container__contact-content .col-form-message form div:nth-child(2) textarea {
    border: 2px solid transparent;
    background-color: #eee;
    font-family: var(--font-body);
    color: var(--text-color);
  }
  section#contact .container__contact .container__contact-content .col-form-message form div:nth-child(2) textarea:focus {
    outline: none;
  }

  /* ================================== footer ==================================== */
  footer#footer {
    width: 100%;
    height: 80px;
    background-color: var(--color1);
    margin-bottom: 80px;
  }
  footer#footer .container__footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer#footer .container__footer p {
    color: #fff;
    padding-top: 20px;
    font-size: 12px;
  }

  

}

























