@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding: 5em 13em;
}

.nav-container {
  display: grid;
  grid-template-columns: 70% auto;
}
.nav-container header {
  background-color: #6700ff;
  padding: 2em 13em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-container header a {
  color: #fff;
}
.nav-container header .logo {
  font-size: 20px;
  color: #4be0f4;
  font-weight: 700;
}
.nav-container header .toggle {
  display: none;
}
.nav-container header nav .toggle-close {
  display: none;
}
.nav-container header nav ul {
  display: flex;
}
.nav-container header li {
  margin-right: 30px;
}
.nav-container .social-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container .social-header li {
  margin-right: 10px;
}
.nav-container .social-header li a i {
  font-size: 1.5em;
}

.hero-content .container {
  display: grid;
  grid-template-columns: 70% auto;
}
.hero-content .container .content {
  background-color: #6700ff;
  padding: 13.5em 13em;
  color: #fff;
}
.hero-content .container .content h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
}
.hero-content .container .content p {
  color: #fc5bff;
  margin-bottom: 20px;
}
.hero-content .container .content .scroll {
  width: 25px;
}
.hero-content .container .content .scroll .circle {
  animation: circleAnimate 1s infinite alternate-reverse;
}
.hero-content .container .hero-design {
  margin-top: 6em;
  width: 100%;
  margin-left: -49.8%;
}

@-webkit-keyframes circleAnimate {
  from {
    transform: translate(0px, 0px);
    z-index: 5;
  }
  to {
    transform: translate(0px, 25px);
    z-index: 5;
  }
}

@keyframes circleAnimate {
  from {
    transform: translate(0px, 0px);
    z-index: 5;
  }
  to {
    transform: translate(0px, 25px);
    z-index: 5;
  }
}
.featured {
  position: relative;
  display: grid;
  grid-template-columns: 40% minmax(300px, 500px);
  align-items: center;
  justify-content: space-between;
}
.featured .subtitle {
  color: #6700ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 5px;
}
.featured .featured-title {
  color: #000;
  font-size: 1.8em;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}
.featured .featured-img-right {
  justify-self: end;
}

.featured::before {
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #fc5bff;
  opacity: 0.2;
  z-index: -1;
  top: 0;
  left: 0;
}

.skills {
  background-color: #fc5bff;
}
.skills ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 400px));
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.skills li {
  background-color: #fff;
  padding: 20px;
  border-radius: 0.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.skills .icon-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ddd;
  margin-bottom: 20px;
  display: grid;
  place-items: center;
}
.skills .icon-container i {
  font-size: 1.7rem;
  color: #6700ff;
}
.skills .icon-container::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 10px;
  left: 120px;
  background-color: #ddd;
}
.skills .skill-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.portfolio-project {
  background-color: #f8f8f8;
}
.portfolio-project .x-content {
  display: grid;
  grid-template-columns: 40% minmax(300px, 400px);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.portfolio-project .x-content .x-content-left .subtitle {
  color: #6700ff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 5px;
}
.portfolio-project .x-content .x-content-left .featured-title {
  color: #000;
  font-size: 1.8em;
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}
.portfolio-project .x-content:nth-child(even) {
  grid-template-columns: minmax(300px, 400px) 40%;
}
.portfolio-project .x-content:nth-child(even) .x-content-left {
  order: 2;
}
.portfolio-project .x-content:nth-child(even) .portfolio-img {
  order: 1;
}

.hire-me .container {
  min-height: 500px;
  text-align: center;
  display: grid;
  place-items: center;
}

.footer .container {
  background-color: #6700ff;
  padding: 2em 13em;
  text-align: center;
}
.footer .container p {
  color: #fff;
}
.footer .container a {
  color: #fc5bff;
}

@media only screen and (min-width: 1024px) and (max-width: 1285px) {
  body {
    font-size: 14px;
  }
  section {
    padding: 5em 6.5em;
  }
  .nav-container header {
    padding: 2em 6.5em;
  }
  .nav-container .social-header li {
    margin-right: 20px;
  }
  .hero-content .container .content {
    padding: 8em 10em 8em 6.5em;
  }
  .hero-content .container .content h1 {
    font-size: 3em;
  }
  .hero-content .container .hero-design {
    margin-top: 2em;
    width: 100%;
    margin-left: -49.8%;
  }
  .hire-me .container {
    min-height: 300px;
  }
  .footer .container {
    padding: 2em 6.5em;
  }
  .footer .container .footer-svg {
    top: -100px;
  }
}
@media only screen and (min-width: 860px) and (max-width: 1024px) {
  body {
    font-size: 13px;
  }
  section {
    padding: 5em 4em;
  }
  body {
    font-size: 15px;
  }
  .nav-container header {
    padding: 2em 4em;
  }
  .nav-container header .logo {
    font-size: 18px;
  }
  .nav-container header li a {
    font-size: 14px;
  }
  .nav-container .social-header li {
    margin-right: 15px;
  }
  .nav-container .social-header li a i {
    font-size: 1.2em;
  }
  .hero-content .container .content {
    padding: 6em 4em;
  }
  .hero-content .container .content h1 {
    font-size: 2.8em;
  }
  .hero-content .container .content p {
    font-size: 14px;
  }
  .hero-content .container .content .scroll {
    width: 25px;
  }
  .hero-content .container .hero-design {
    margin-top: 1em;
  }
  .featured {
    grid-template-columns: 40% minmax(300px, 400px);
  }
  .featured .subtitle {
    font-size: 15px;
  }
  .featured .featured-title {
    color: #000;
    font-size: 1.5em;
  }
  .featured::before {
    width: 200px;
    height: 200px;
  }
  .skills .icon-container {
    width: 80px;
    height: 80px;
  }
  .skills .icon-container::before {
    width: 30px;
    height: 30px;
  }
  .skills .skill-title {
    font-size: 18px;
  }
  .portfolio-project .x-content .x-content-left .featured-title {
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
  }
  .portfolio-project .x-content:nth-child(even) {
    grid-template-columns: minmax(300px, 400px) 40%;
  }
  .portfolio-project .x-content:nth-child(even) .x-content-left {
    order: 2;
  }
  .portfolio-project .x-content:nth-child(even) .portfolio-img {
    order: 1;
  }
  .hire-me .container {
    min-height: 300px;
  }
  .hire-me .container a {
    color: #fc5bff;
  }
  .footer .container {
    padding: 2em 4em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 860px) {
  section {
    padding: 5em 2em;
  }
  .nav-container {
    display: unset;
  }
  .nav-container header {
    padding: 2em 2em;
  }
  .nav-container header .logo {
    font-size: 18px;
  }
  .nav-container .social-header {
    display: none;
  }
  .hero-content .container {
    display: unset;
  }
  .hero-content .container .content {
    background-color: #6700ff;
    padding: 6em 6em 6em 6em;
    text-align: center;
  }
  .hero-content .container .content h1 {
    font-size: 2.3em;
  }
  .hero-content .container .content p {
    color: #fc5bff;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .hero-content .container .hero-design {
    display: none;
  }
  .featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .featured .inner {
    text-align: center;
  }
  .featured .featured-title {
    font-size: 1.5em;
  }
  .featured .featured-desc {
    margin-bottom: 30px;
  }
  .featured::before {
    width: 200px;
    height: 200px;
  }
  .skills .icon-container {
    width: 80px;
    height: 80px;
  }
  .skills .icon-container i {
    font-size: 1.7rem;
  }
  .skills .icon-container::before {
    top: 10px;
    left: 110px;
  }
  .skills .skill-title {
    font-size: 18px;
  }
  .portfolio-project {
    padding: 1em 2em 5em 2em;
  }
  .portfolio-project .container .x-content {
    display: unset;
  }
  .portfolio-project .container .x-content .inner {
    text-align: center;
  }
  .portfolio-project .container .x-content .x-content-left .subtitle {
    color: #6700ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 5px;
    padding-top: 60px;
  }
  .portfolio-project .container .x-content .x-content-left .featured-title {
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
  }
  .portfolio-project .container .x-content .x-content-left .featured-desc {
    margin-bottom: 30px;
  }
  .portfolio-project .x-content:nth-child(even) {
    grid-template-columns: minmax(300px, 400px) 40%;
  }
  .portfolio-project .x-content:nth-child(even) .x-content-left {
    order: 2;
  }
  .portfolio-project .x-content:nth-child(even) .portfolio-img {
    order: 1;
  }
  .hire-me .container {
    min-height: 300px;
    text-align: center;
    display: grid;
    place-items: center;
  }
  .footer .container {
    padding: 6em 2em;
    text-align: center;
  }
}
@media only screen and (min-width: 300px) and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  section {
    padding: 5em 0.5em;
  }
  .nav-container {
    display: unset;
  }
  .nav-container header {
    padding: 2em 1em;
  }
  .nav-container header .logo {
    font-size: 18px;
  }
  .nav-container header .toggle {
    display: unset;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 0.4em;
    cursor: pointer;
  }
  .nav-container header .toggle i {
    font-size: 1.8rem;
    color: #fff;
    margin-top: -4px;
  }
  .nav-container header .toggle:hover i {
    color: #4be0f4;
  }
  .nav-container header .toggle:focus i {
    color: #4be0f4;
  }
  .nav-container header .toggle:active i {
    color: #4be0f4;
  }
  .nav-container header nav {
    opacity: 0;
    position: relative;
    display: unset;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(103, 0, 255, 0.8);
    z-index: -1;
    padding: 20px;
    transition: 0.4s;
  }
  .nav-container header nav ul {
    width: 100%;
    height: 80%;
    background-color: #fff;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
    margin-top: 45px;
  }
  .nav-container header nav ul li {
    width: 100%;
    padding: 1em 2em;
    border-radius: 0.5em;
    background-color: #6700ff;
    margin-bottom: 10px;
    text-align: center;
  }
  .nav-container header nav .toggle-close {
    display: unset;
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
  }
  .nav-container header nav .toggle-close i {
    font-size: 2.5em;
    color: #fff;
  }
  .nav-container header nav .toggle-close:hover i {
    color: #4be0f4;
  }
  .nav-container header nav.active {
    opacity: 1;
    z-index: 100;
  }
  .nav-container .social-header {
    display: none;
  }
  .hero-content .container {
    display: unset;
  }
  .hero-content .container .content {
    background-color: #6700ff;
    padding: 6em 0.5em 6em 0.5em;
    text-align: center;
  }
  .hero-content .container .content h1 {
    font-size: 2.6em;
  }
  .hero-content .container .content p {
    color: #fc5bff;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .hero-content .container .hero-design {
    display: none;
  }
  .featured {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .featured .inner {
    text-align: center;
  }
  .featured .featured-title {
    font-size: 1.5em;
  }
  .featured .featured-desc {
    margin-bottom: 30px;
  }
  .featured::before {
    width: 200px;
    height: 200px;
  }
  .skills ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
  }
  .skills li {
    background-color: #fff;
    padding: 20px;
    border-radius: 0.4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .skills .icon-container {
    width: 80px;
    height: 80px;
  }
  .skills .icon-container i {
    font-size: 1.7rem;
  }
  .skills .icon-container::before {
    top: 10px;
    left: 110px;
  }
  .skills .skill-title {
    font-size: 18px;
  }
  .portfolio-project {
    padding: 1em 0.5em 5em 0.5em;
  }
  .portfolio-project .container .x-content {
    display: unset;
  }
  .portfolio-project .container .x-content .inner {
    text-align: center;
  }
  .portfolio-project .container .x-content .x-content-left .subtitle {
    color: #6700ff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 5px;
    padding-top: 60px;
  }
  .portfolio-project .container .x-content .x-content-left .featured-title {
    color: #000;
    font-size: 1.5em;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
  }
  .portfolio-project .container .x-content .x-content-left .featured-desc {
    margin-bottom: 30px;
  }
  .portfolio-project .x-content:nth-child(even) {
    grid-template-columns: minmax(300px, 400px) 40%;
  }
  .portfolio-project .x-content:nth-child(even) .x-content-left {
    order: 2;
  }
  .portfolio-project .x-content:nth-child(even) .portfolio-img {
    order: 1;
  }
  .hire-me .container {
    min-height: 300px;
    text-align: center;
    display: grid;
    place-items: center;
  }
  .footer .container {
    padding: 2em 0.5em;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */