/* ======= GOOGLE FONTS ======= */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* ======= VARIABLE ======= */
:root {
  /* ======= COLORS ======= */
  --first-color: #ff6d1a;
  --first-color-second: #ff8633;
  --first-color-lighter: #ffa04d;
  --title-color: #ff6d1a;
  --text-color: rgb(37, 36, 36);
  --input-color: #ff8633;
  --body-color: #ecebeb;
  --container-color: #f3f2f2;
  /* ======= FONTS AND TYPOGRAPHY ======= */
  --font-body: "Poppins", sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* ======= FONT WEIGHT ======= */
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* ======= BASE ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
h1,
h2,
h3 {
  color: tit;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: var(--normal-font-size);
  font-family: var(--font-body);
  background-color: var(--body-color);
}
svg {
  width: 400px;
  color: var(--first-color);
  margin-top: -25px;
}
.icons {
  font-size: var(--h3-font-size);
  color: var(--first-color-lighter);
  cursor: pointer;
}
.icons:hover {
  color: var(--first-color-second);
}
.btn {
  padding: 8px 16px;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: var(--first-color-second);
  color: #fff;
  font-size: var(--small-font-size);
  cursor: pointer;
}
.btn .icons {
  color: #fff;
}
.btn:hover .icons {
  color: #fff;
}
.btn:hover {
  background-color: var(--first-color);
}

/* ======= SECTION-SET ======= */
.section {
  padding: 0px 80px;
  min-height: 500px;
  background-color: var(--container-color);
}

/* ======= NAVBAR ======= */
header {
  z-index: 100000;
}
nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 80px;
  background-color: var(--container-color);
  align-items: center;
  padding-top: 0.6rem;
  height: 80px;
}
/* ======= TOGGLE ======= */

nav .list {
  display: flex;
  width: 40%;
  justify-content: space-between;
  align-items: center;
}
nav .list2 {
  display: none;
}
nav .toggle {
  display: none;
}
nav .brand {
  position: relative;
  display: flex;
  align-items: center;
}
nav .brand a {
  color: var(--first-color-second);
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
}
nav .list {
  z-index: 9999;
}
nav .list a {
  color: var(--first-color-lighter);
}

/* ======= MAIN-CONTENT ======= */
section.content .container__content {
  display: flex;
  flex-direction: row;
  padding: 50px 80px;
  background-color: var(--container-color);
}
/* ======= ABOUT ======= */
section.content .about__content {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-height: 500px;
  padding-top: 40px;
}
section.content .about__content .title__content {
  font-size: var(--big-font-size);
  color: var(--first-color-second);
}
section.content .about__content .subtitle__content {
  font-size: var(--h2-font-size);
  color: var(--first-color-second);
  margin-bottom: var(--mb-0-25);
}
section.content .about__content .description {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-3);
}
section.content .about__content .button__content {
  margin-bottom: 8rem;
}
section.content .about__content .info__sosmed-content {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

/* ======= IMAGE-CONTENT ======= */
section.content .img__content {
  display: flex;
  justify-content: center;
  width: 60%;
}
.home__blob {
  fill: var(--first-color);
  overflow: hidden;
  margin-top: -100px;
  z-index: 1;
}

/* ======= SERVICE ======= */
section.service .container__service {
  background-color: var(--container-color);
  display: flex;
  width: 100%;
}
section.service .container__service .about__service {
  width: 80%;
  margin-right: 20px;
}
section.service .container__service .about__service .title {
  font-size: var(--big-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-0-75);
}
section.service .container__service .about__service .description {
  color: var(--text-color);
}
section.service .container__service .box__service {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.service .container__service .box__service .frontend__box-service {
  width: 60%;
  margin-bottom: var(--mb-2);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 0.5rem;
  height: 140px;
  transition: 0.3s;
}
section.service .container__service .box__service .frontend__box-service:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
section.service .container__service .box__service .frontend__box-service:hover .title {
  color: var(--first-color);
}
section.service .container__service .box__service .frontend__box-service .title {
  color: var(--first-color-second);
  margin-bottom: var(--mb-0-5);
}
section.service .container__service .box__service .frontend__box-service .description {
  color: var(--text-color);
}
section.service .container__service .box__service .designer__box-service {
  width: 60%;
  margin-bottom: var(--mb-2);
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  border-radius: 0.5rem;
  height: 140px;
  transition: 0.3s;
}
section.service .container__service .box__service .designer__box-service:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
section.service .container__service .box__service .designer__box-service:hover .title {
  color: var(--first-color);
}
section.service .container__service .box__service .designer__box-service .title {
  color: var(--first-color-second);
  margin-bottom: var(--mb-0-5);
}
section.service .container__service .box__service .designer__box-service .description {
  color: var(--text-color);
}
.service__icon {
  font-size: 1.5rem;
}

/* ======= PORTFOLIO ======= */
.container__portfolio {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container__portfolio img {
  width: 250px;
  border-radius: 0.4rem;
  border: 3px solid rgba(0, 0, 0, 0.3);
  height: 135px;
}
.container__portfolio .title {
  color: var(--first-color);
  text-align: center;
  font-size: var(--big-font-size);
}
section.portfolio .container__portfolio .lighbox__portfolio {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px 0px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio {
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio .item__lighbox-portfolio {
  display: flex;
  flex-direction: column;
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio .item__lighbox-portfolio span {
  display: none;
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio .item__lighbox-portfolio:hover span:nth-child(2) {
  display: block;
  width: 250px;
  background-color: rgba(200, 200, 200, 0.3);
  height: 135px;
  position: absolute;
  border-radius: 0.3rem;
  text-align: center;
  line-height: 135px;
  color: var(--first-color);
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}

/* ===== OVERLAY 1 ===== */
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-1 {
  position: fixed;
  top: 0;
  left: 0;
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio .close__overlay .icon__overlay {
  display: none;
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-1:target {
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  height: 100%;
  width: 100%;
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-1:target .container__overlay-1 {
  width: 80%;
  max-height: 100%;
  position: relative;
  margin: 0px auto;
  display: grid;
  place-items: center;
  line-height: 100%;
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-1 .container__overlay-1 img {
  transform: scale(0);
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-1:target .container__overlay-1 img {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  animation: zoomImage 0.8s both;
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-1:target .container__overlay-1 .close__overlay .icon__overlay {
  position: absolute;
  display: inline;
  font-size: 2.5rem;
  right: -3%;
  animation: zoomClose 0.8s both;
}

/* ====== OVERLAY 2 ====== */
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-2 {
  position: fixed;
  top: 0;
  left: 0;
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-2:target {
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  height: 100%;
  width: 100%;
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-2:target .container__overlay-2 {
  width: 80%;
  max-height: 100%;
  position: relative;
  margin: 0px auto;
  display: grid;
  place-items: center;
  line-height: 100%;
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-2 .container__overlay-2 img {
  transform: scale(0);
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-2:target .container__overlay-2 img {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  animation: zoomImage 0.8s both;
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-2:target .container__overlay-2 .close__overlay .icon__overlay {
  position: absolute;
  display: inline;
  font-size: 2.5rem;
  right: -3%;
  animation: zoomClose 0.8s both;
}

/* ===== OVERLAY 3 ===== */
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-3 {
  position: fixed;
  top: 0;
  left: 0;
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-3:target {
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  height: 100%;
  width: 100%;
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-3:target .container__overlay-3 {
  width: 80%;
  max-height: 100%;
  position: relative;
  margin: 0px auto;
  display: grid;
  place-items: center;
  line-height: 100%;
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-3 .container__overlay-3 img {
  transform: scale(0);
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-3:target .container__overlay-3 img {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  animation: zoomImage 0.8s both;
}
section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-3:target .container__overlay-3 .close__overlay .icon__overlay {
  position: absolute;
  display: inline;
  font-size: 2.5rem;
  right: -3%;
  animation: zoomClose 0.8s both;
}

/* ===== ANIMATION ===== */
@keyframes zoomImage {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes zoomClose {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* ======= CONTACT ======= */
section.contact {
  padding: 0px 80px;
  background-color: var(--container-color);
}
section.contact .container__contact {
  display: flex;
  justify-content: space-between;
  background-color: var(--first-color);
  border-radius: 0.8rem;
}
section.contact .container__contact .info__contact {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-around;
  color: #eee;
}
section.contact .container__contact .info__contact .about__contact h1 {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-0-25);
}
section.contact .container__contact .info__contact .about__contact p {
  color: #ddd;
}
section.contact .container__contact .info__contact .list__contact {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 70%;
  padding: 3px;
}
section.contact .container__contact .info__contact .list__contact .items__list-contact {
  border-radius: 0.5rem;
  padding: 5px 15px;
}
section.contact .container__contact .info__contact .list__contact .items__list-contact:hover {
  border: 2px solid var(--first-color-lighter);
  border-radius: 0.5rem;
  padding: 5px 15px;
}
section.contact .container__contact .info__contact .list__contact .items__list-contact .item__list-contact {
  color: #eee;
}

section.contact .container__contact .form__contact {
  display: grid;
  height: 500px;
  place-items: center;
  width: 95%;
}
section.contact .container__contact .form__contact .container__form-contact {
  width: 60%;
  height: 400px;
  display: flex;
  flex-direction: column;
  background-color: #eee;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 1rem;
}
section.contact .container__contact .form__contact .container__form-contact form {
  display: flex;
  flex-direction: column;
  align-items: right;
}
section.contact .container__contact .form__contact .container__form-contact form label {
  margin-bottom: var(--mb-0-5);
}
section.contact .container__contact .form__contact .container__form-contact form input[type="text"],
section.contact .container__contact .form__contact .container__form-contact form input[type="email"] {
  display: block;
  font-size: var(--normal-font-size);
  padding: 10px;
  border-radius: 0.5rem;
  border: 2px solid #ccc;
  margin-bottom: var(--mb-0-75);
}
section.contact .container__contact .form__contact .container__form-contact form input[type="text"]:focus,
section.contact .container__contact .form__contact .container__form-contact form input[type="email"]:focus {
  outline: none;
  border: 2px solid var(--first-color-second);
}
section.contact .container__contact .form__contact .container__form-contact form textarea {
  display: block;
  border-radius: 0.5rem;
  border: 2px solid #ccc;
  margin-bottom: var(--mb-1-5);
  padding: 5px;
}
section.contact .container__contact .form__contact .container__form-contact form textarea:focus {
  outline: none;
  border: 2px solid var(--first-color-lighter);
}

/* ======= FOOTER ======= */
.container__footer {
  display: grid;
  place-items: center;
  width: 100%;
  height: 120px;
  background-color: var(--first-color);
  margin-top: 4rem;
  color: #eee;
  font-size: var(--small-font-size);
}

/* ======= MEDIA QUERIS ======= */
@media screen and (max-width: 678px) {
  /* ======= BASE ======= */
  /* ======= NAVBAR ======= */
  nav {
    padding: 0px 20px;
  }

  nav .list {
    display: none;
  }
  nav .toggle {
    display: flex;
    flex-direction: column;
    height: 35px;
    z-index: 99;
    justify-content: space-evenly;
    position: relative;
  }
  nav .toggle input {
    position: absolute;
    width: 30px;
    height: 35px;
    opacity: 0;
    z-index: 9999;
  }
  nav .toggle input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(2px, -2px);
  }
  nav .toggle input:checked ~ span:nth-child(3) {
    transform: scale(0);
  }
  nav .toggle input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
  }
  nav .toggle span:nth-child(2) {
    transform-origin: 0 0;
  }
  nav .toggle span:last-child {
    transform-origin: 0 0;
  }
  nav .toggle span {
    display: block;
    width: 30px;
    height: 5px;
    background-color: var(--first-color);
    border-radius: 0.4rem;
    transition: 0.3s;
  }
  /* ======= SECTION ======= */
  .section {
    padding: 0px 20px;
  }
  /* ======= MAIN-CONTENT ======= */
  section.content .container__content {
    padding: 50px 20px;
    flex-direction: column;
  }
  section.content .about__content {
    order: 2;
    width: 100%;
  }
  section.content .img__content {
    order: 1;
    justify-content: center;
    width: 100%;
  }
  .home__blob {
    fill: var(--first-color);
    overflow: hidden;
    margin-top: 20px;
    width: 60%;
  }
  /* ======= SERVICE ======= */
  section.service .container__service {
    flex-direction: column;
  }
  section.service .container__service .about__service {
    width: 100%;
    margin-bottom: var(--mb-3);
  }
  section.service .container__service .box__service .frontend__box-service {
    width: 100%;
  }
  section.service .container__service .box__service .designer__box-service {
    width: 100%;
  }

  /* ======= PORTFOLIO ======= */
  .container__portfolio img {
    width: 100%;
    border-radius: 0.4rem;
    border: 3px solid rgba(0, 0, 0, 0.3);
    margin-bottom: var(--mb-1-5);
    height: auto;
    position: relative;
  }
  .container__portfolio {
    margin-bottom: var(--mb-3);
  }
  .container__portfolio .lighbox__portfolio .list__lighbox-portfolio #overlay-3 img {
    margin-bottom: 0;
  }
  section.portfolio .container__portfolio .lighbox__portfolio {
    padding: 10px 5px;
    width: 100%;
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio {
    flex-direction: column;
    width: 100%;
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio .item__lighbox-portfolio:hover span:nth-child(2) {
    width: 100%;
    height: auto;
    bottom: 0;
    top: 0;
    position: absolute;
    border-radius: 0.3rem;
    text-align: center;
    line-height: auto;
    color: var(--first-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
  }
  /* ===== OVERLAY 1 ===== */
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-1 {
    position: fixed;
    top: 0;
    left: 0;
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio .close__overlay .icon__overlay {
    display: none;
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-1:target {
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    height: 100%;
    width: 100%;
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-1:target .container__overlay-1 {
    width: 90%;
    max-height: 100%;
    position: relative;
    margin: 0px auto;
    display: grid;
    place-items: center;
    line-height: 100%;
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-1 .container__overlay-1 img {
    transform: scale(0);
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-1:target .container__overlay-1 img {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    animation: zoomImage 0.8s both;
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-1:target .container__overlay-1 .close__overlay .icon__overlay {
    position: absolute;
    display: inline;
    font-size: 2.5rem;
    right: -3%;
    animation: zoomClose 0.8s both;
    z-index: 9999;
  }

  /* ====== OVERLAY 2 ====== */
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-2 {
    position: fixed;
    top: 0;
    left: 0;
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-2:target {
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    height: 100%;
    width: 100%;
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-2:target .container__overlay-2 {
    width: 80%;
    max-height: 100%;
    position: relative;
    margin: 0px auto;
    display: grid;
    place-items: center;
    line-height: 100%;
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-2 .container__overlay-2 img {
    transform: scale(0);
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-2:target .container__overlay-2 img {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    animation: zoomImage 0.8s both;
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-2:target .container__overlay-2 .close__overlay .icon__overlay {
    position: absolute;
    display: inline;
    font-size: 2.5rem;
    right: -3%;
    animation: zoomClose 0.8s both;
    z-index: 9999;
  }

  /* ===== OVERLAY 3 ===== */
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-3 {
    position: fixed;
    top: 0;
    left: 0;
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-3:target {
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    height: 100%;
    width: 100%;
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-3:target .container__overlay-3 {
    width: 80%;
    max-height: 100%;
    position: relative;
    margin: 0px auto;
    display: grid;
    place-items: center;
    line-height: 100%;
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-3 .container__overlay-3 img {
    transform: scale(0);
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-3:target .container__overlay-3 img {
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 60px;
    animation: zoomImage 0.8s both;
  }
  section.portfolio .container__portfolio .lighbox__portfolio .list__lighbox-portfolio .list__items-lighbox-portfolio #overlay-3:target .container__overlay-3 .close__overlay .icon__overlay {
    position: absolute;
    display: inline;
    font-size: 2.5rem;
    right: -3%;
    animation: zoomClose 0.8s both;
    z-index: 9999;
  }

  /* ===== ANIMATION ===== */
  @keyframes zoomImage {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes zoomClose {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  /* ======= CONTACT ======= */
  section.contact {
    padding: 0px 20px;
    background-color: var(--container-color);
  }
  section.contact .container__contact {
    flex-direction: column;
  }
  section.contact .container__contact .info__contact .list__contact {
    width: 100%;
  }
  section.contact .container__contact .form__contact {
    width: 100%;
  }
  section.contact .container__contact .form__contact .container__form-contact {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #eee;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 0.5rem;
  }

  /* ======= FOOTER ======= */
}
